*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::root{
    --project-card-width: 100vw;
}
html::-webkit-scrollbar{
    display: none;
}
html{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
body{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;

}
#bg{
    position: fixed;
    width: 100%;
    height: 100%;
    /* background-image: url('assets/background.png'); */
    /* background: conic-gradient(from 135deg at 50% 50%, #9A92FA  0deg, #09006C 360deg), #FFFFFF; */
    z-index: -1;
}
body {
  background-image: url('assets/background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
img{
    width: 100px;
    /* height: 100%; */
}
a img{
    transform: scale(0.75);
}
video{
    width: 100%;
}
h1{
    width: fit-content;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    /* Title Style */
    color: rgba(9, 0, 108, 0.4);
    margin: 30px;
}
h2{
    width: fit-content;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 112.69%;
    /* or 20px */
    display: flex;
    flex-direction: column;
    /* SubTitle Style */
    color: rgba(154, 146, 250, 1);
    margin: 10px;
}
a{
    width: fit-content;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 112.69%;
    /* or 20px */
    display: flex;
    flex-direction: column;
    /* SubTitle Style */
    /* underline: none; */

    color: rgba(154, 146, 250, 0.5);
    /* color: #110874; */
    margin: 10px;
}
.screen{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    scroll-snap-align: start;
}
.card{
    width: fit-content;
    height: 75vh;
    display: flex;
    background: linear-gradient(119.56deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), rgba(196, 196, 196, 0.3);
    box-shadow: 4px 4px 22px rgba(0, 0, 0, 0.25);
    border-radius: 43px;
    backdrop-filter: blur(6px);
    justify-content: space-between;
    overflow: hidden;
    margin: 50px;
}
.dashboard{
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
    mix-blend-mode: normal;
    /* backdrop-filter: blur(6px); */
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 47px 0px 0px 47px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.links{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-self: start;
    align-content: flex-start;
    /* justify-items: center; */
    align-items: center;
    /* align-content: center; */
}
.links a{
    margin: 0;
}
.bubble{
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(22px);
    /* Note: backdrop-filter has minimal browser support */

    width: min(90%, 500px);
    margin: 50px;
    border-radius: 138px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.bubbles{
    height: max(100%, fit-content);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-items: end;
    align-content: flex-end;
    align-items: center;
}
.carousel{
    width: 200vw;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}
.carouselWrapper::-webkit-scrollbar{
    display: none;
}
.carouselWrapper{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    width: 100%;
    overflow: auto;
    margin: auto;
}
#screen2{
    width: 100vw;
}
.projectInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
}
.projectPic{
    width: 100%;
}
.project{
    scroll-snap-align: center;
    display: flex;
    width: 90vw;
}
#upBtn{
    position: relative;
}
#nextBtn{
    position: absolute;
    right: 50px;
    transform: scale(0.4);
    cursor: pointer;
}
#prevBtn{
    position: absolute;
    left: 50px;
    transform: scale(0.4);
    cursor: pointer;
}
#profilePic{
    border-radius: 50%;
    width: 30%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 1000px) {
    .dashboard{
        width: 100%;
        height: fit-content;
        flex-direction: row;
        border-radius: 47px 47px 0px 0px;
    }
    .card{
        flex-direction: column;
        /* width: max(60%, 500px); */
        width: max(70%, fit-content);
        height: max(70%, fit-content);
    }
    .projectPic{
        height: 100%;
    }
    video{
        height: 100%;
    }
    /* #profilePic{
        width: max(10%, 70px);
    }
    .projectPic{
        width: max(30%, 200px);
    }
    .project{
        flex-direction: column-reverse;
        overflow: hidden;
        margin: 50px;
    }
    .projectInfo{
        align-items: center;
    } */
}